<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <!--<add name="ContentTypeHttpModule" type="ContentTypeHttpModule.ContentTypeHttpModule, ContentTypeHttpModule" />-->
    </modules>
    <httpErrors errorMode="Detailed"/>
    <asp scriptErrorSentToBrowser="true"/>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type"/>
        <add name="Access-Control-Allow-Methods" value="GET, POST"/>
        <add name="X-UA-Compatible" value="IE=edge" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        <rule name="fingerprint" stopProcessing="true">
          <match url="(.*)(v-[0-9]+/)([\S]+)"/>
          <action type="Rewrite" url="{R:1}/{R:3}"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="102400"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
        <add name="HttpPostLocalhost"/>
      </protocols>
    </webServices>
  </system.web>
  <appSettings>
    <add key="com.lsuagcenter.maps.service" value="http://maps.lsuagcenter.com/LABWS_service/service.asmx"/>
    <add key="net.usgs.gisdata.elevation_service" value="http://gisdata.usgs.net/xmlwebservices2/elevation_service.asmx"/>
    <add key="gov.la.dotd.floods.communitycontacts" value="http://floods.dotd.la.gov/lafloods/communitycontacts.asmx"/>
    <add key="WebShotServices.webshotservice" value="http://gaia.agcenter.lsu.edu/webshot/webshotservice.asmx"/>
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="http://wwwapps.dotd.la.gov/multimodal/public_works/LaFloods/CommunityContacts.asmx"
        binding="basicHttpBinding" bindingConfiguration="CommunityContactsSoap"
        contract="DOTDCommunityContacts.CommunityContactsSoap" name="CommunityContactsSoap" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="CommunityContactsSoap" />
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="webHttpBindingWithJsonP" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="EndpBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="Service">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpBindingWithJsonP" contract="IService" behaviorConfiguration="EndpBehavior"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>